/*** Section Categorias */

.fatherCards {
  position: absolute;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 15px;
  height: 150px;
  top: 20%;
}

.cardTitle {
  background-color: rgba(102, 96, 96, 0.291);
  flex: 1 0 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
.cardTitle:hover {
  filter: contrast(10%);
  background-color: rgb(85, 84, 82);
  color: yellow;
}

@media (min-width: 400px) {
  .cardTitle {
    left: 10%;
  }
}
